<div class="col-lg-12 col-md-12">
   <div id="vue-app-disease">
      <h1 class="page-header">
         รายชื่อโรค&nbsp;
         <span class="fa fa-heartbeat" aria-hidden="true"></span>
      </h1>
      <div class="row">
         <div class="col-lg-12 col-md-12">
            <div id="noti" role="alert" class="alert"  style="width:100%;visibility:hidden;">&nbsp;</div>
         </div>
      </div>
      <div class="row">
         <div class="input-group col-lg-10">
            <input class="form-control" type="text" placeholder="Disease name" v-model="enNameCreate">
            <input class="form-control" type="text" placeholder="ชื่อโรค" v-model="thNameCreate">
         </div>
         <div class="col-lg-2">
            <button class="btn btn-success" @click="addList()" style="border-radius:50%;">
            <span class="fa fa-plus-circle" aria-hidden="true"></span>
            </button>
         </div>
      </div>
      <br>
      <div style="width:100%;"></div>
      <table id="mainTable" class="table table-hover table-striped">
         <thead>
            <tr>
               <th>#</th>
               <th>Englist</th>
               <th>Thai</th>
               <th>Create By</th>
               <th>Update By</th>
               <th>Create At</th>
               <th>Update At</th>
               <th>&nbsp;</th>
            </tr>
         </thead>
         <tbody id="tdList">
         </tbody>
      </table>
   </div>
   <div style="height:50px;"></div>
</div>
<script type="text/javascript">
  entryPoint = 'disease'    // set 1
  hostAPI = getHostAPI(entryPoint)
  currentUser = '<%=data.user.email %>'
</script>
<script src="/js/helperFilter.js"></script>
<script src="/js/helperAction.js"></script>
<script src="/js/helperNoti.js"></script>
<script src="/vue/disease.js"></script>
