<div class="col-lg-12 col-md-12"><div id="vue-app-food">
<h1 class="page-header">
    ตำรับอาหาร&nbsp;
    <span class="fa fa-book" aria-hidden="true"></span>
</h1>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div id="noti" role="alert" class="alert"  style="width:100%;visibility:hidden;">&nbsp;</div>
    </div>
</div>
<div class="row">
    <div class="input-group col-lg-4">
        <input class="form-control" type="text" placeholder="Food name" v-model="enNameCreate">
        <input class="form-control" type="text" placeholder="ชื่ออาหาร" v-model="thNameCreate">
    </div>
    <div class="input-group col-lg-3">
        <select class="form-control" id="repastCreate" style="margin-right:5px;">
            <option value="มื้อเช้า" selected>มื้อเช้า</option>
            <option value="มื้อกลางวัน">มื้อกลางวัน</option>
            <option value="มื้อเย็น">มื้อเย็น</option>
        </select>
        <select class="form-control" id="typeCreate">
            <option value="จานหลัก" selected>จานหลัก</option>
            <option value="จานรอง">จานรอง</option>
        </select>
    </div>
    <div class="col-lg-2">
        <select class="selectpicker" title="Ingredient" data-width="fit" data-actions-box="true" multiple data-live-search="true" data-selected-text-format="count" v-model="ingredientCreate" id="selectpicker-ingre">
        <option></option>
        </select>
    </div>
    <div class="col-lg-2">
        <select class="selectpicker" title="Disease" data-width="fit" data-actions-box="true" multiple data-live-search="true" data-selected-text-format="count" v-model="diseaseAllowCreate" id="selectpicker-disease">
        <option></option>
        </select>
    </div>
    <div class="col-lg-1">
        <button class="btn btn-success" @click="addList()" style="border-radius:50%;">
            <span class="fa fa-plus-circle" aria-hidden="true"></span>
        </button>
    </div>
</div>
<br>
<div style="height:50px;"></div>
</div>
<script src="/js/helperFilter.js"></script>
<script src="/js/helperAction.js"></script>
<script src="/js/helperNoti.js"></script>
<script src="/js/helperSelectpicker.js"></script>
<script type="text/javascript">
entryPoint = 'food'   // set 1
hostAPI = getHostAPI(entryPoint)
currentUser = '<%=data.user.email %>'
/* set tmp function*/
async function tmpCreateList(){
  /* create table row */
  await axios(hostAPI, 'get', {'Content-Type': 'application/json; charset=utf-8'}, {})
  .then(function(res){
    let key = ['name_en', 'name_th', 'type', 'repast', 'ban', 'ingredient']
    helperCreateLists($('#tdList'), key, res.data, hostAPI, 50)
})
  .catch(function(err){console.log(err)})
}
</script>
<script src="/vue/food.js"></script>
