<div class="col-lg-12 col-md-12">
<div id="vue-app-food">
    <h1 class="page-header">
        ตำรับอาหาร&nbsp;
        <span class="fa fa-book" aria-hidden="true"></span>
    </h1>
<div id="createForm" class="modal" style="overflow:scroll;">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="noti" role="alert" class="alert"  style="width:100%;visibility:hidden;">&nbsp;</div>
        </div>
    </div>
    <div class="row">
        <a href="#" rel="modal:close" class="modal-close-custom">
            <span class="fa fa-times" aria-hidden="true"></span>
        </a>
        <div class="input-group col-lg-4">
            <input class="form-control" type="text" placeholder="Food name" v-model="enNameCreate">
            <input class="form-control" type="text" placeholder="ชื่ออาหาร" v-model="thNameCreate">
        </div>
        <div class="input-group col-lg-2">
          <select class="form-control" id="repastCreate" style="margin-right:5px;">
              <option value="มื้อเช้า" selected>มื้อเช้า</option>
              <option value="มื้อกลางวัน">มื้อกลางวัน</option>
              <option value="มื้อเย็น">มื้อเย็น</option>
          </select>
            <select class="form-control" id="typeCreate">
                <option value="จานหลัก" selected>จานหลัก</option>
                <option value="จานรอง">จานรอง</option>
            </select>
        </div><br>
        <div class="col-lg-2">
          <select class="selectpicker" title="Ingredient" data-width="fit" data-actions-box="true" multiple data-live-search="true" data-selected-text-format="count" v-model="ingredientCreate" id="selectpicker-ingre">
            <option></option>
          </select>
        </div>
        <div class="col-lg-2">
          <select class="selectpicker" title="Disease" data-width="fit" data-actions-box="true" multiple data-live-search="true" data-selected-text-format="count" v-model="diseaseAllowCreate" id="selectpicker-disease">
            <option></option>
          </select>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-primary" @click="unitForm()">
                ระบุปริมาณ&nbsp;<span class="fa fa-list" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <br>
    <div id="ingreDetail" style="width:1000px;height:500px;">
    </div>
    <div class="row" style="float:right;">
        <button id="buttonCreate" style="visibility:hidden;"class="btn btn-success" @click="addList()">เพิ่ม&nbsp;
            <span class="fa fa-plus-circle" aria-hidden="true"></span>
        </button>
    </div>
</div>
<!-- open modal form -->
<a href="#createForm" rel="modal:open">
    <button class="btn btn-success">
        เพิ่มตำรับอาหาร
        &nbsp;<span class="fa fa-plus-circle" aria-hidden="true"></span>
    </button>
</a>
    <br>
    <div style="width:100%;"></div>
    <table id="mainTable" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Thai</th>
                <th>Type</th>
                <th>Repast</th>
                <th>Ingredients</th>
                <th>Ban</th>
                <th>Owner</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="tdList">
        </tbody>
    </table>
</div>
<div style="height:50px;"></div>
</div>
<script src="/js/helperFilter.js"></script>
<script src="/js/helperAction.js"></script>
<script src="/js/helperNoti.js"></script>
<script src="/js/helperSelectpicker.js"></script>
<script type="text/javascript">
entryPoint = 'food'   // set 1
hostAPI = getHostAPI(entryPoint)
currentUser = '<%=data.user.email %>'
/* set tmp function*/
async function tmpCreateList(){
  /* create table row */
  await axios(hostAPI, 'get', {'Content-Type': 'application/json; charset=utf-8'}, {})
  .then(function(res){
    let key = ['name_th', 'type', 'repast', 'ingredient', 'ban', 'created_user']
    helperCreateLists($('#tdList'), key, res.data, hostAPI, 50)
})
  .catch(function(err){console.log(err)})
}
</script>
<script src="/vue/food.js"></script>
