<style>
  .card{
      background-color: transparent;
  }
  .card:hover{
    background-color: #EDF4F8;
    cursor: pointer;
    box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
    transition-duration: 0.5s;
  }
  .fa-trash-o:hover{
    font-size:20px;
  }
  .card-title:hover{
    color: #4d94ff;
    font-weight: bold;
  }
</style>
<div id="vue-app-foodlist" class="col-lg-12 col-md-12">
  <h1 class="page-header">เมนูอาหาร&nbsp;
    <span class="fa fa-cutlery" aria-hidden="true"></span>
  </h1>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div id="noti" role="alert" class="alert"  style="width:100%;visibility:hidden;">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <%
      if(data.user.type == "admin" || data.user.type == "nutritionist"){
    %>
    <div class="input-group col-lg-6">
      <input type="text" class="form-control" placeholder="ชื่อชุดเมนูอาหาร" v-model="textName">
      <input type="text" class="form-control" placeholder="รายละเอียดเพิ่มเติม" v-model="textDetail">
    </div>
    <div class="input-group col-lg-2">
      <select class="selectpicker" title="Disease Tags" data-width="fit" data-actions-box="true" multiple data-live-search="true" data-selected-text-format="count" id="selectpicker-disease-menu" v-model="tagDisease">
        <option></option>
      </select>
    </div>
    <div class="input-group col-lg-1">
      <button class="btn btn-success" style="float:left; border-radius:50%;" @click="addList()">
        <span class="fa fa-plus-circle" aria-hidden="true"></span>
      </button>
    </div>
    <%
      } else {
    %>
    <div class="input-group col-lg-6">
      <input type="text" class="form-control" placeholder="ชื่อรายการอาหาร" v-model="textName" disabled>
      <input type="text" class="form-control" placeholder="รายละเอียดเพิ่มเติม" v-model="textName" disabled>
    </div>
    <div class="input-group col-lg-2">
      <select class="selectpicker" title="Disease Tags" data-width="fit" data-actions-box="true" multiple data-live-search="true" data-selected-text-format="count" id="selectpicker-disease-menu" v-model="tagDisease" disabled>
        <option></option>
      </select>
    </div>
    <div class="input-group col-lg-1">
      <button class="btn btn-success" style="float:left; border-radius:50%;" disabled>
        <span class="fa fa-plus-circle" aria-hidden="true"></span>
      </button>
    </div>
    <%
      }
    %>
    <div class="input-group col-lg-3">
      <button class="btn btn-dark" style="float:left;border-top-right-radius:0px;border-bottom-right-radius:0px;" @click="movePointer('p')">
        <span class="fa fa-caret-left" aria-hidden="true" style="font-size: 25px"></span>
      </button>
      <button class="btn btn-dark" style="float:left;border-top-left-radius:0px;border-bottom-left-radius:0px;" @click="movePointer('n')">
        <span class="fa fa-caret-right" aria-hidden="true" style="font-size: 25px"></span>
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-primary" style="float:left;" @click="exportCards('order-list')">
        <span class="fa fa-file-text-o" aria-hidden="true" style="font-size: 25px"></span>
      </button>
    </div>
  </div>
  <div class="row" style="width:100%;">
    <div id="showCase" style="margin-left:13px; margin-top:30px;" class="row"></div>
  </div>
</div>
<script src="/js/helperAction.js"></script>
<script src="/js/helperCardsAction.js"></script>
<script src="/js/helperNoti.js"></script>
<script src="/js/helperSelectpicker.js"></script>
<script>
entryPoint = 'foodlist'  // set 1
hostAPI = getHostAPI(entryPoint)
userType = '<%=data.user.type %>'
new Vue({
    el: '#vue-app-foodlist',
    data: {
        tagDisease: [],
        textName: '',
        textDetail: '',
        createBy: '<%=data.user.email %>'
    },
    methods:{
        addList: async function(){
          /* set post request structure*/
          if(this.tagDisease.length > 0){
            await helperSelectPicker('selectpicker-disease-menu', 'disease', 'name_en', 'name_th')
              let data = {
                  tag: this.tagDisease,
                  name: this.textName,
                  detail: this.textDetail,
                  created_user: this.createBy,
                  updated_user: this.createBy
              }
              await helperPostLists(data, hostAPI)
              /* clear cache vue var model */
              const messageNotiSussess = 'Add new menu ' + this.textName
              helperNoti($('#noti'), 'success', messageNotiSussess)
              /* clear v-model */
              this.textName = ''
              this.textDetail = ''
              this.tagDisease = []
              //window.location.href = "/"
              setTimeout(function(){
                tmpCreateList()
              },500)
          }else{
              const messageNotiFail = 'Fail to add new menu to list !!! '
              helperNoti($('#noti'), 'danger', messageNotiFail)
          }
        }, // end addList
        countCards: function(el){
          const message = "&nbsp;ไม่มีข้อมูล"
          if (el.children().length < 1) el.html('<center><div><h5 style="color:#495057;">' + message + '</h5><div></center>')
        },
        // change card date pointer
        movePointer: function(i){
          helperPonterChanger(i, hostAPI)
        },
        exportCards: function(path){
            goListPage(path)
        }
    },
    beforeMount: async function(){
        await tmpCreateList()
        await this.countCards($('#showCase'))
        await helperSelectPicker('selectpicker-disease-menu', 'disease', 'name_en', 'name_th')
    },
    mounted: function(){
      this.countCards($('#showCase'))
    },
})

/* set tmp function*/
async function tmpCreateList(){
  /* create table row */
  await axios(hostAPI, 'get', {'Content-Type': 'application/json; charset=utf-8'}, {})
  .then(function(res){
    helperCreateCard($('#showCase'), res.data, hostAPI, userType)
  })
  .catch(function(err){console.log(err)})
}
function goListPage(path){
  location.href = getHostWebApp(path)
}
</script>
