<meta charset="utf-8">
<link rel="stylesheet" href="./style/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="./style/bootstrap/css/font-awesome.min.css">
<link rel="stylesheet" href="./fullcalendar/fullcalendar.min.css">
<link rel="stylesheet" href="./datatable/dataTables.bootstrap4.min.css">

<script src="./js/jquery-3.3.1.min.js"></script>
<script src="./js/jquery.cookie.min.js"></script>
<script src="./style/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./js/vue.min.js"></script>
<script src="./js/axios.min.js"></script>
<!-- moment -->
<script src="./js/moment-with-locales.min.js"></script>
<!-- datatable -->
<script src="./datatable/jquery.dataTables.min.js"></script>
<script src="./datatable/dataTables.bootstrap4.min.js"></script>
<script src="./datatable/responsive.bootstrap4.min.js"></script>
<!-- fullcalendar -->
<script src="./fullcalendar/fullcalendar.min.js"></script>
<!-- chartjs -->
<script src="./chartjs/Chart.bundle.min.js"></script>
<script src="./js/axiosReq.js"></script>
<script src="./js/helperConfig.js"></script>

<!-- bootstrap select -->
<link rel="stylesheet" href="./style/bootstrap-select/bootstrap-select.css" />
<script src="./style/bootstrap-select/bootstrap-select.min.js"></script>

<!-- print js -->
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css" />

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<!-- numberal -->
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
