<div class="col-lg-12 col-md-12">
   <div id="vue-app-patient">
      <h1 class="page-header">
         ผู้ป่วย&nbsp;
         <span class="fa fa-bed" aria-hidden="true"></span>
      </h1>
      <div class="row">
         <div class="col-lg-12 col-md-12">
            <div id="noti" role="alert" class="alert"  style="width:100%;visibility:hidden;">&nbsp;</div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-9 input-group">
            <input class="form-control" type="text" placeholder="Patient name ( Jonh Mardee )" v-model="enNameCreate">
            <input class="form-control" type="text" placeholder="ชื่อผู้ป่วย ( จอน ดีมาก )" v-model="thNameCreate">
         </div>
         <div class="col-lg-2">
            <select class="selectpicker" title="Disease selection" data-width="fit" data-actions-box="true" data-live-search="true" data-selected-text-format="count" v-model="diseaseCreate" id="selectpicker-disease">
               <option></option>
            </select>
         </div>
         <div class="col-lg-1">
            <button class="btn btn-success" @click="addList()" style="border-radius:50%;">
            <span class="fa fa-plus-circle" aria-hidden="true"></span>
            </button>
         </div>
      </div>
      <br>
      <div style="width:100%;"></div>
      <table id="mainTable" class="table table-hover table-striped">
         <thead>
            <tr>
               <th>#</th>
               <th>Englist</th>
               <th>Thai</th>
               <th>Disease</th>
               <th>Add by</th>
               <th>Admit</th>
               <th>&nbsp;</th>
            </tr>
         </thead>
         <tbody id="tdList">
         </tbody>
      </table>
   </div>
   <div style="height:50px;"></div>
</div>
<script type="text/javascript">
  entryPoint = 'patient'     // set 1
  hostAPI = getHostAPI(entryPoint)
  currentUser = '<%=data.user.email %>'
  /* set tmp function*/
  async function tmpCreateList(){
    /* create table row */
    await axios(hostAPI, 'get', {'Content-Type': 'application/json; charset=utf-8'}, {})
    .then(function(res){
      let key = ['name_en', 'name_th', 'disease', 'created_user', 'admit_date']      // set 2
      helperCreateLists($('#tdList'), key, res.data, hostAPI)
    })
    .catch(function(err){console.log(err)})
  }
</script>
<script src="/js/helperFilter.js"></script>
<script src="/js/helperAction.js"></script>
<script src="/js/helperNoti.js"></script>
<script src="/js/helperSelectpicker.js"></script>
<script src="/vue/patient.js"></script>
