<!-- nav left -->
<div class="col-lg-2 col-md-2 col-sm-10 sidebar">
   <div style="margin:20px 0px 20px 0px;min-height:50px;">
      <center>
         <div id="profilePic">
         </div>
         <b>
         <%= data.user.email %>
         </b><br>
         <b><span>(</span><%= data.user.type %><span>)</span></b>
      </center>
   </div>
   <ul class="list-group list-group-flush">
<!--<li class="list-group-item list-group-item-action" @click="loadPage('dashboard')">
         <a href="#">
             <span class="fa fa-dashboard" aria-hidden="true"></span>&nbsp;
             Dashboard
         </a>
         </li>-->
    <li class="list-group-item list-group-item-action" @click="loadPage('foodlist')">
        <a href="#foodlist">
        <span class="fa fa-cutlery" aria-hidden="true"></span>&nbsp;
        เมนูอาหาร
        </a>
    </li>
    <!-- Nutritionist permise -->
    <%
        if(data.user.type == "admin" || data.user.type == "nutritionist"){
    %>
    <li class=" list-group-item list-group-item-action" @click="loadPage('food')">
        <a href="#food">
        <span class="fa fa-book" aria-hidden="true"></span>&nbsp;
        ตำรับอาหาร
        </a>
    </li>
    <li class=" list-group-item list-group-item-action" @click="loadPage('ingredient')">
        <a href="#ingredient">
        <span class="fa fa-leaf" aria-hidden="true"></span>&nbsp;
        วัตถุดิบอาหาร
        </a>
    </li>
    <%
        } else {
    %>
    <li class="list-group-item list-group-item-action" style="cursor:not-allowed;">
        <a href="#" style="color:#cdcdcd36;cursor:not-allowed;">
        <span class="fa fa-book" aria-hidden="true"></span>&nbsp;
        ตำรับอาหาร
        </a>
    </li>
    <li class="list-group-item list-group-item-action" style="cursor:not-allowed;">
        <a href="#" style="color:#cdcdcd36;cursor:not-allowed;">
        <span class="fa fa-leaf" aria-hidden="true"></span>&nbsp;
        วัตถุดิบอาหาร
        </a>
    </li>
    <% } %>
    <!-- Nurse permise -->
    <%
        if(data.user.type == "admin" || data.user.type == "nurse"){
    %>
    <li class="list-group-item list-group-item-action" @click="loadPage('patient')">
        <a href="#patient">
        <span class="fa fa-bed" aria-hidden="true"></span>&nbsp;
        ผู้่ป่วย
        </a>
    </li>
    <li class="list-group-item list-group-item-action" @click="loadPage('disease')">
        <a href="#disease">
        <span class="fa fa-heartbeat" aria-hidden="true"></span>&nbsp;
        รายชื่อโรค
        </a>
    </li>
    <%
        } else {
    %>
    <li class="list-group-item list-group-item-action" style="cursor:not-allowed;">
        <a href="#" style="color:#cdcdcd36;cursor:not-allowed;">
        <span class="fa fa-bed" aria-hidden="true"></span>&nbsp;
        ผู้่ป่วย
        </a>
    </li>
    <li class="list-group-item list-group-item-action" style="cursor:not-allowed;">
        <a href="#" style="color:#cdcdcd36;cursor:not-allowed;">
        <span class="fa fa-heartbeat" aria-hidden="true"></span>&nbsp;
        รายชื่อโรค
        </a>
    </li>
    <% } %>
    <!-- Admin permise -->
    <%
        if(data.user.type == "admin"){
    %>
    <li class=" list-group-item list-group-item-action" @click="loadPage('user')">
        <a href="#user">
            <span class="fa fa-users" aria-hidden="true"></span>&nbsp;
            บัญชีผู้ใช้งาน
        </a>
    </li>
    <%
        } else {
    %>
    <li class=" list-group-item list-group-item-action" style="cursor:not-allowed;">
        <a href="#" style="color:#cdcdcd36;cursor:not-allowed;">
            <span class="fa fa-users" aria-hidden="true"></span>&nbsp;
            บัญชีผู้ใช้งาน
        </a>
    </li>
    <% } %>
    <!--<li class="list-group-item list-group-item-action">
         <a href="/debug?m=y" target="_blank">
         <span class="fa fa-bug" aria-hidden="true"></span>&nbsp;
         Debug
         </a>
    </li>-->
   </ul>
</div>
<script>
  function picProfile(){
    const hostImgPath = './images/'
    const pics = '<%= data.user.type %>'
    let htmlImg = '<img className="imgProfile" src="'+ hostImgPath + pics + '.png"' +
    'style="width:150px;height:150px;margin-bottom:10px;">'
    $('#profilePic').html(htmlImg)
    // $('[className="imgProfile"]').addClass('img-thumbnail')
  }
  // $(setTimeout(picProfile(),1000))
  $(picProfile())
</script>
