<!-- topbar -->
<nav class="navbar navbar-dark bg-dark nav-default">
   <!-- title left -->
   <div class="col-lg-4 col-md-4" style="font-family: Tahoma,Verdana,Segoe,sans-serif;">
      <a href="#refresh" onclick="location.reload()">
         <h4>
            <span class="fa fa-cogs" style="color:#CDCDCD;"></span>
            <span class="nav-head-txt">ระบบจัดตรางอาหาร</span>
         </h4>
      </a>
   </div>
   <!-- top middle -->
   <div class="col-lg-6 col-md-6">
   </div>
   <!-- menu right -->
   <div class="col-lg-1 col-md-1">
      <a href="/logout">
      <button class="btn btn-danger" @click="logoutForm">
      Logout&nbsp;
      <span class="fa fa-sign-out" aria-hidden="true"></span>
      </button>
      </a>
   </div>
</nav>
