<div class="col-lg-12 col-md-12">
   <div id="vue-app-user">
      <h1 class="page-header">
         บัญชีผู้ใช้งาน&nbsp;
         <span class="fa fa-users" aria-hidden="true"></span>
      </h1>
      <div class="row">
         <div class="col-lg-12 col-md-12">
            <div id="noti" role="alert" class="alert"  style="width:100%;visibility:hidden;">&nbsp;</div>
         </div>
      </div>
      <div class="row">
         <div class="input-group col-lg-10">
            <input class="form-control" type="email" placeholder=" simple@email.com" v-model="emailCreate">
            <input class="form-control" type="password" placeholder=" password" v-model="passCreate">
            <select class="form-control" style="width:100px;" v-model="typeCreate">
                <option value="nutritionist" selected>นักโภชนาการ</option>
                <option value="nurse">พยาบาล</option>
                <option value="admin">ผู้ดูแลระบบ</option>
            </select>
         </div>
         <div class="col-lg-2">
            <button class="btn btn-success" @click="addList()">
            Add&nbsp;<span class="fa fa-user-plus" aria-hidden="true"></span>&nbsp;
            </button>
         </div>
      </div>
      <br>
      <div style="width:100%;"></div>
      <table id="mainTable" class="table table-hover table-striped">
         <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Type</th>
                <th>Create By</th>
                <th>Update By</th>
                <th>Create At</th>
                <th>Update At</th>
                <th>&nbsp;</th>
            </tr>
         </thead>
         <tbody id="tdList">
         </tbody>
      </table>
   </div>
   <div style="height:50px;"></div>
</div>
<script src="/js/helperFilter.js"></script>
<script src="/js/helperAction.js"></script>
<script src="/js/helperNoti.js"></script>
<script>
entryPoint = 'user'     // set 1
hostAPI = getHostAPI(entryPoint)
new Vue({
    el: '#vue-app-user',
    data: {
        emailCreate: '',
        passCreate: '',
        typeCreate: 'nutritionist',
        createBy: '<%=data.user.email %>'
    },
    methods:{
        addList: async function(){
            /* set post request structure*/
            const checkEmailAndNoBlank = (this.emailCreate != '' && heplerFilterEmailStr(this.emailCreate))
            if(checkEmailAndNoBlank && this.passCreate != ''){
                let data = {
                  email: this.emailCreate,
                  password: this.passCreate,
                  type: this.typeCreate,
                  created_user: this.createBy,
                  updated_user: this.createBy
                }
                helperPostLists(data, hostAPI)
                /* clear cache vue var model */
                const messageNotiSussess = 'Add new '+ entryPoint + ' : ' + this.emailCreate
                helperNoti($('#noti'), 'success', messageNotiSussess)
                /* clear v-model */
                this.emailCreate = ''
                this.passCreate = ''
                this.typeCreate = 'nutritionist'
                await tmpCreateList()
            }else{
                const messageNotiFail = 'Fail to add new ' + entryPoint
                helperNoti($('#noti'), 'danger', messageNotiFail)
            }
        }
    },
    beforeMount: async function(){
      await tmpCreateList()
    },
    mounted: function(){
        console.log('Mounted')
    },
})

/* set tmp function*/
async function tmpCreateList(){
  /* create table row */
  await axios(hostAPI, 'get', {'Content-Type': 'application/json; charset=utf-8'}, {})
  .then(function(res){
    let key = ['email', 'type', 'created_user', 'updated_user', 'created_date', 'updated_date'] // set 2
    helperCreateLists($('#tdList'), key, res.data, hostAPI)
  })
  .catch(function(err){console.log(err)})
}
</script>
