/* default css */
html,body {
    height:100%;
}
.nav-default{
    width: 100%;
    border-bottom: 1px solid #0000;
}
.nav-head-txt{
    color: #CDCDCD;
}
.sidebar {
    color: #FFFF;
    padding: 0px 0px 0px 0px;
    background-color: #212529;
    box-shadow: 2px 4px 1px 0px #CDCDCD;
    min-height:900px;
}
a:hover {
    text-decoration: none;
}
.list-group-item{
    background-color: transparent;
}
.list-group-item:hover{
    background-color: #343A40;
    cursor: pointer;
    transition-duration: 0.5s;
}
.list-group-item:active{
    background-color: #212529;
}
.list-group-item>a{
    color: #CDCDCD;
    font-size: 18px;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    color: #595959;
    border-bottom: 1px solid #EEE;
}
.modal {
    height: 700px;
    max-width: 1200px;
}
.close-modal {
    margin-top: 20px;
    margin-right: 20px;
    visibility: hidden;
}
.modal-close-custom {
    color: black;
    position: absolute;
    top: -5px;
    left: 10px;
    font-size: 30px;
}
.modal-close-custom:hover{
    color: red;
}
