/* login css */
.card:hover {
  background-color: #EDF4F8;
  cursor: pointer;
  box-shadow: 10px 10px 20px -8px rgba(0, 0, 0, 0.75);
  transition-duration: 0.5s;
}
.fa-trash-o:hover {
  font-size: 20px;
}
.slide-top {
  -webkit-animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 forwards;
  animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 forwards;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
