<% include ../partials/head %>

<div class="container">
   <div class="row"  style="margin: 30px;">
      <div class="col-lg-12">
         <h3>ตั้งค่าชุดข้อมูลพื้นฐาน</h3>
         <div class="input-group" style="width:500px;margin-bottom:10px;">
            <input type="text" class="form-control" id="host" placeholder="http://127.0.0.1">
            <input type="text" class="form-control" id="port" placeholder="3030" value="3030">
         </div>
      </div>

      <div class="col-lg-12" style="margin-bottom:10px;">
         <h5>รายชื่อบัญชีผู้ใช้งาน</h5>
         <button class="btn btn-success" onclick="modSeed('user')">ใส่ชุดข้อมูล</button>
         &nbsp;&nbsp;&nbsp;
         <button class="btn btn-danger" onclick="modClear('user')">ลบชุดข้อมูล</button>
      </div>

      <div class="col-lg-12" style="margin-bottom:10px;">
         <h5>รายชื่อวัตถุดิบ</h5>
         <button class="btn btn-success" onclick="modSeed('ingredient')">ใส่ชุดข้อมูล</button>
         &nbsp;&nbsp;&nbsp;
         <button class="btn btn-danger" onclick="modClear('ingredient')">ลบชุดข้อมูล</button>
      </div>

      <div class="col-lg-12">
         <h5>รายชื่อโรค</h5>
         <button class="btn btn-success" onclick="modSeed('disease')">ใส่ชุดข้อมูล</button>
         &nbsp;&nbsp;&nbsp;
         <button class="btn btn-danger" onclick="modClear('disease')">ลบชุดข้อมูล</button>
      </div>

      <div class="col-lg-12">
         <h5>รายการตำรับอาหาร</h5>
         <button class="btn btn-success" onclick="modSeed('food')">ใส่ชุดข้อมูล</button>
         &nbsp;&nbsp;&nbsp;
         <button class="btn btn-danger" onclick="modClear('food')">ลบชุดข้อมูล</button>
      </div>

   </div>
</div>
<script>
  let counter = 0
  function modSeed(page){
    let host = $("#host").val()
    let port = $("#port").val()
    let path = '/api/' + page + '/debug/seed'
    let target = host + ':' + port + path
    let confirmC = confirm('ยืนยันการกลับไปใช้ข้อมูลตั้งต้นสำหรับตราง ' + page)
    if(confirmC){
      const headers = {'Content-Type': 'text/html; charset=utf-8'}
      axios({url: target, method: 'get', headers: headers})
    }
  } //end modSeed
  function modClear(page){
    let host = $("#host").val()
    let port = $("#port").val()
    let path = '/api/' + page + '/debug/clear'
    let target = host + ':' + port + path
    let confirmC = confirm('ยืนยันการลบข้อมูลปัจจุบันทั้งหมดในตราง ' + page)
    if(confirmC){
      const headers = {'Content-Type': 'text/html; charset=utf-8'}
      axios({url: target, method: 'get', headers: headers})
    }
  }// end modClear

</script>
