<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>รายการสั่งซื้อวัตถุดิบ</title>
        <link rel="icon" type="image/png" href="./images/bannerMain.png">
        <% include ../partials/head %>
        <link rel="stylesheet" href="./style/default.css">
        <style>
          html{
            scroll-behavior: smooth;
          }
          body{ zoom: 100%
          }
          .btnNoti > span {
            color: #151515;
            font-size: 40px;
          }
          .btnNoti > span:hover{
            color: #3D3D3D;
            font-size: 45px;
          }
          .imgMenu{
            border-radius: 5px;
            width:100px;
            height:100px;
          }
          .imgMenu:hover{
            border-radius: 5px;
            width:150px;
            height:150px;
            transition-duration: 0.3s;
          }
          .showCase{
            margin-left:100px;
            margin-top:10px;
            display: block;
          }
        </style>
    </head>
    <body>
        <div id="vue-app-export-order">
            <div class="container-fluid">
                <div class="row">
                    <div style="margin:5px;min-height:35px;">
                        <div style="position: absolute; left:20px;">
                            <a class="btnNoti" href="#Back" onclick="backHome()">
                                <span class="fa fa-mail-reply"></span>
                            </a>
                        </div>
                    </div>
                    <div style="position: absolute; right:20px;">
                        <a class="btnNoti" href="#next-menu" onclick="window.print()">
                            <span class="fa fa-print" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="row showCase">
                    <div>
                        <h4>รายการสั่งซื้อวัตถุดิบ</h4>
                    </div>
                    <div id="showCase">
                    </div>
                </div>
            </div>
        <div>
    </body>
</html>
<script src="/js/helperCardsExportOrder.js"></script>
<script>
/* config request info */
entryPoint = 'foodlist'  // set 1
hostAPI = getHostAPI(entryPoint)
new Vue({
    el: '#vue-app-export-order',
    data: {
    },
    methods:{
    },
    beforeMount: async function(){
      await tmpCreateList()
    },
    mounted: async function(){
    }
})
/* set tmp function*/
async function tmpCreateList(){
  /* create table row */
  await axios(hostAPI + 'export/order', 'get', {'Content-Type': 'application/json; charset=utf-8'}, {})
  .then(function(res){
        helperCreateExportOrder($('#showCase'), res.data[1], res.data[0])
  })
  .catch(function(err){console.log(err)})
}
function printOrder(){
  window.print()
}
function backHome(){
  location.href = getHostWebApp('')
}
</script>
