<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>เข้าสู่ระบบ</title>
      <% include ../partials/head %>
      <link rel="icon" type="image/png" href="./images/bannerMain.png">
      <link rel="stylesheet" href="./style/login.css">
      <style type="text/css">
      body {
        z-index: -1;
        background: url(./images/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      </style>
   </head>
   <body>
      <div class="container slide-top">
         <div class="loginPanel" style="box-shadow: 9px 9px 21px -2px rgba(0,0,0,0.55);margin:auto;margin-top:100px;width: 350px;height: 250px;background-color: #FFFF;padding: 10px 10px 10px 10px; border-radius:5px; border: 1px solid #cdcdcd;">
            <div id="vue-app">
               <div>
                  <div style="color:#3d3d3d;font-family:tahoma;">
                     <span style="font-size:40px;">ยินดีต้อนรับ</span>
                     <span style="color:#B7B7B7;float:right;font-size:25px;">เข้าสู่ระบบเพื่อใช้งาน</span>
                  </div>
                  <br>
                  <div class="form-group loginPanel" v-on:keyup.enter="loginForm">
                     <input v-model="email" class="form-control" style="margin-bottom:5px;" type="email" placeholder="simple@email.com">
                     <input v-model="password" class="form-control" style="margin-bottom:5px;" type="password" placeholder="passworld">
                     <button class="btn btn-primary" @click="loginForm" style="margin-top:5px;width:100%;">
                     Login&nbsp;
                     <span class="fa fa-sign-in" aria-hidden="true"></span>
                     </button>
                     <!-- <button class="btn btn-dark" @click="loginGuest"  style="width:120px;">
                        Guest&nbsp;
                        <span class="fa fa-unlock" aria-hidden="true"></span>
                        </button> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
<script src="/js/axiosReq.js"></script>
<script>
   new Vue({
       el: '#vue-app',
       data: {
           email: 'admin@email.com',
           password: '1234a'
       },
       methods:{
           loginForm: function(event){
               /* config request info */
               const _url = getHostAPI('authen')
               const _url_2 = getHostWebApp('login')
               const _headers = {'Content-Type': 'application/json; charset=utf-8'}
               const _data = {email: this.email, password: this.password}
               /* send request */
               axiosReq(_url, 'post', _headers, _data, function(res){
                   axiosReq(_url_2, 'post', _headers, {token: res}, function(){
                       window.location.href = "/"
                   })
               })
           } // END loginForm
           // loginGuest: function(event){
           //   /* force login*/
           //   const guestEmail = 'xxxx'
           //   const guestPass = 'xxx'
           //   /* config request info */
           //   const _url = getHostAPI('authen')
           //   const _url_2 = getHostWebApp('login')
           //   const _headers = {'Content-Type': 'application/json; charset=utf-8'}
           //   const _data = {email: guestEmail, password: guestPass}
           //   /* send request */
           //   axiosReq(_url, 'post', _headers, _data, function(res){
           //       axiosReq(_url_2, 'post', _headers, {token: res}, function(){
           //           window.location.href = "/"
           //       })
           //   })
           // } //END guest login
       }
   })
   Vue.config.devtools = true
</script>
