<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>จัดตรางอาหาร</title>
      <link rel="icon" type="image/png" href="./images/bannerMain.png">
      <% include ../partials/head %>
      <link rel="stylesheet" href="./style/default.css">
    <style>
         body {
         zoom: 95%
         }
      </style>
   </head>
   <body>
      <div class="container-fluid">
      <div class="row">
         <% include ../partials/top-bar %>
      </div>
      <div id="vue-app" class="row">
         <% include ../partials/side-bar %>
         <div class="col-lg-10 col-md-10 col-sm-10" id="stage">
         </div>
      </div>
      <div>
   </body>
</html>
<script>
   /* config request info */
   new Vue({
       el: '#vue-app',
       data: {
       },
       methods:{
           loadPage: function(page){
               const url = '/partials/' + page
               const headers = {'Content-Type': 'text/html; charset=utf-8'}
               axiosReq(url, 'get', headers, {}, function(res){
                   $('#stage').html(res)
               })
           }
       },
       beforeMount: function(){
         this.loadPage('foodlist') // set default page
       }
   })

</script>
