<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>รายการอาหาร</title>
        <link rel="icon" type="image/png" href="./images/bannerMain.png">
        <% include ../partials/head %>
        <link rel="stylesheet" href="./style/default.css">
        <style>
          html{
            scroll-behavior: smooth;
          }
          body{ zoom: 90%
          }
          .btnNoti > span {
            color: #151515;
            font-size: 40px;
          }
          .btnNoti > span:hover{
            color: #3D3D3D;
            font-size: 45px;
          }
          .imgMenu{
            border-radius: 5px;
            width:100px;
            height:100px;
          }
          .imgMenu:hover{
            border-radius: 5px;
            width:150px;
            height:150px;
            transition-duration: 0.3s;
          }
        </style>
    </head>
    <body>
      <div id="vue-app-export-menu">
        <div class="container-fluid">
          <div class="row">
          <div style="margin:5px;min-height:35px; margin-bottom:20px;">
            <div style="position: absolute; left:20px;">
            <a class="btnNoti" href="#Back" onclick="backHome()">
              <span class="fa fa-mail-reply">
              </span>
            </a>
          </div>
          <div style="position: absolute; right:20px;">
            <div class="input-group">
              <a class="btnNoti" href="#prev-menu" onclick="movePointer('p')" style="margin-right:20px;">
                <span class="fa fa-caret-left" aria-hidden="true"></span>
              </a>
              <a class="btnNoti" href="#next-menu" onclick="movePointer('n')" style="margin-right:10px;">
                <span class="fa fa-caret-right" aria-hidden="true"></span>
              </a>
              <a class="btnNoti" href="#next-menu" onclick="checkOutMenu()">
                <span class="fa fa-print" aria-hidden="true"></span>
              </a>
            </div>
          </div>
          </div>
        </div>
          <div class="card">
            <div class="card-body">
              <div id="showDiseaseList" ></div>
            </div>
          </div>
          <div id="showCase">
          </div>
        <div>
      <div>
    </body>
</html>
<script src="/js/helperAction.js"></script>
<script src="/js/helperCardsAction.js"></script>
<script src="/js/helperCardsExportMenuAction.js"></script>
<script src="/js/helperNoti.js"></script>
<script src="/js/helperSelectpicker.js"></script>
<script src="/js/helperUnitConvert.js"></script>
<script>
/* config request info */
entryPoint = 'foodlist'  // set 1
hostAPI = getHostAPI(entryPoint)
new Vue({
    el: '#vue-app-export-menu',
    data: {
    },
    methods:{
        loadPage: function(page){
            const url = '/partials/' + page
            const headers = {'Content-Type': 'text/html; charset=utf-8'}
            axiosReq(url, 'get', headers, {}, function(res){
                $('#stage').html(res)
            })
        }
    },
    beforeMount: async function(){
      await tmpCreateList()
    }
})
/* set tmp function*/
async function tmpCreateList(){
  helperCreateDiseaseGroupTitle()
  /* create table row */
  await axios(hostAPI, 'get', {'Content-Type': 'application/json; charset=utf-8'}, {})
  .then(function(res){
    console.log(res.data)
    helperCreateExportDoc($('#showCase'), res.data, hostAPI)
  })
  .catch(function(err){console.log(err)})
}
function checkOutMenu(){
  window.print()
  helperPonterChanger('n', hostAPI)
}
function movePointer(i){
  helperPonterChanger(i, hostAPI)
}
function backHome(){
  location.href = getHostWebApp('')
}
</script>
